.page-projeto .input-group {
      width: 50%;
      margin-left: 50px;
}

.page-projeto .search-barra {
      height: 130px;
      margin-top: 80px;
      margin-right: 180px;
      margin-left: 400px;
}

.page-projeto .imagem-barra {
      background-image: url('../images/serra.jpg');
      height: 130px;
}

.page-projeto .rebse {
      text-align: center;
      color: white;
}

.page-projeto .area {
      text-align: right;
      color: white;
}

.page-projeto .barra-cabecalho {}

.page-projeto .slideshow {
      width: 100%;
}

.page-projeto .negocio {
      background-color: palevioletred;
      height: 130px;
      text-align: center;
      color: white;
}

.page-projeto .bolsa {
      background-color: blue;
      height: 130px;
      text-align: center;
      color: white;
}

.page-projeto .letra {
      font-weight: bolder;
}

.page-projeto .agenda {
      width: 100%;
}

.page-projeto .noticia-1 {
      height: 300px;
      margin-top: 40px;
}

.page-projeto .imagem2 {
      height: 190px;
      color: white;
}

.page-projeto .maio {
      background-color: palevioletred;
      height: 190px;
      color: white;
}

.page-projeto .noticia2 {
      height: 300px;
      margin-top: 40px;
}

.page-projeto .junho {
      background-color: palevioletred;
      height: 190px;
      color: white;
}

.page-projeto .imagem4 {
      height: 190px;
      color: white;
}

.page-projeto .noticias {
      background-color: grey;
      height: 800px;
      background-image: url('C:/Users/Ondina/Desktop/REBSE/images/noticias-bg.jpg')
}

.page-projeto .pesquisa {
      height: 200px;
      background-image: url('C:/Users/Ondina/Desktop/REBSE2/images/iphone.jpeg');
}

.page-projeto .documentos {
      height: 500px;
      background-image: url('C:/Users/Ondina/Desktop/REBSE/milimetricas.jpg');
}

.page-projeto .parcerias {
      background-image: url('../images/serra.jpg');
      height: 180px;
}

.page-projeto .cimbse {
      height: 190px;
      margin-top: 20px;
}

.page-projeto .mapas {
      height: 200px;
      background-size: cover;
      width: 100%;
}

.page-projeto .informacao {
      text-align: center;
      height: 150px;
      margin-top: 95px;
}

.page-projeto .empresa {
      background-color: white;
      height: 500px;
      margin-top: 100px;
      margin-left: 90px;
}

.page-projeto .turismo {
      background-color: white;
      height: 500px;
      margin-top: 100px;
      margin-left: 50px;
}

.page-projeto .exportacao {
      background-color: white;
      height: 500px;
      margin-top: 100px;
      margin-left: 50px;
}

.page-projeto .doc1 {
      background-color: white;
      height: 200px;
      margin-top: 100px;
      margin-left: 120px;
}

.page-projeto .doc2 {
      background-color: white;
      height: 200px;
      margin-top: 100px;
      margin-left: 20px;
}

.page-projeto .doc3 {
      background-color: white;
      height: 200px;
      margin-top: 100px;
      margin-left: 20px;
}

.page-projeto .telefone {
      height: 90px;
      margin-top: 30px;
      color: black;
      font-size: 20px;
      font-weight: bolder;
      text-align: center;
}

.page-projeto .nome {
      height: 90px;
      margin-top: 30px;
      color: black;
}

.page-projeto .sugestao {
      height: 90px;
      margin-top: 30px;
      color: black;
}

.page-projeto .texto {
      font-size: 20px;
      font-weight: bolder;
}

.page-projeto .botao-ler {
      text-align: center;
      margin-top: 10px;
}

.page-projeto .button {
      text-align: center;
      margin-top: -25px;
      color: transparent;
}

.page-projeto .imagem-mapa {
      background-size: cover;
      width: 100%;
}

.page-projeto .img-responsive {
      background-size: cover;
      vertical-align: middle;
}

.page-projeto .logotipos {
      width: 100%;
      margin-top: 50px;
}

.page-projeto .centro2020 {
      width: 100%;
}

.page-projeto .texto-cores {
      color: deepskyblue;
      font-weight: bolder;
      font-size: 15px;
}

.page-projeto .imagem {
      width: 100%;
}

.page-projeto .imagens {
      width: 100%;
      margin-top: 20px;
}

.page-projeto .teclados {
      height: 190px;
      width: 100%;
}

.page-projeto .carousel-inner {
      height: 100%;
}

.page-projeto .item-active {
      width: 100%;
}

.page-projeto .seta {
      border-color: white;
      margin-top: 10px;
}

.page-projeto .mao-metal {
      width: 100%;
      height: 190px;
}

.page-projeto .cadernos {
      width: 100%;
      height: 190px;
}

.page-projeto .agendas {
      margin-top: 30px;
      margin-left: 50px;
}

.page-projeto .items {
      margin-right: 100px;
}

.page-projeto .item1 {
      margin-left: 100px;
      margin-top: 30px;
}

.page-projeto .pioneer {
      width: 100%;
      margin-top: -15px;
}

.page-projeto .phone {
      width: 50%;
}

.page-projeto .projeto {
     
      width: 100%; 
      height: 700px;
      font-size: 355%;           

}

.page-projeto .logotipo {
      color: deepskyblue;
      font-weight: bolder;
      font-size: 50px;   
}

.page-projeto .beiras {
      background-color: white;
      height: 600px;  
      font-size: 22px;   
      margin-top: -150px;
                   
}       

.page-projeto .fora-row {
      color: deepskyblue;
      
      font-weight: bolder;
      font-size: 40px;                    
}           

.page-projeto .pro{
      color:black;
      font-weight: bolder;
      font-size: 10px;       
}   


.page-projeto .seta-icon{
    margin-top: 20px;
           
}   

.page-projeto .row-texto{
    margin-top: 80px;
  
           
}      
.page-projeto .objetivo{
 text-align:right;
 font-size: 40px;
 font-weight: bolder;
  margin-top: -15px;

}   

.page-projeto .entidade{
 text-align:right;
 font-size: 20px;
 font-weight: bolder;
 margin-top: -15px;

}      

.page-projeto .seta-torta{
  margin-top: 15px;
       
}   
                                           